@font-face {
     font-family: "digital"; 
     src: url(fonts/digital/digital-7.ttf);
}

@keyframes article_text_opacity {
     from {
         opacity: 0;
     }
     to {
         opacity: 0.6;
     }
 }

 @keyframes status_text_opacity {
     from {
         opacity: 0;
     }
     to {
         opacity: 0.35;
     }
 }

*{
     padding: 0px;
     margin: 0px;
}

body{
     padding: 0px;
     margin: 0px;
     background-color: #fff;
}

.header{
     text-align: center;
     background-color: #eee;
     background-image: linear-gradient(left,#033E6B,#0B61A4);
     background-image: -o-linear-gradient(left,#033E6B,#0B61A4);
     background-image: -moz-linear-gradient(left,#033E6B,#0B61A4);
     background-image: -webkit-linear-gradient(left,#033E6B,#0B61A4);
     
}

#article{
     padding-top: 8px;
     font-size: 36px;
     font-weight: bold;
     font-family: Arial;
     color: #66A3D2;
     animation-name: article_text_opacity;
     animation-duration: 2s;
     animation-fill-mode: forwards;
}

#status{
     padding-bottom: 14px;
     font-size: 75%;
     font-weight: bold;
     font-family: Arial;
     color: #66A3D2;
     animation-name: status_text_opacity;
     animation-duration: 2s;
     animation-fill-mode: forwards;
}

.main_work{
     align-content: center;
}

.inputoutput{
     float: left; 
     margin: 15px 0 0 20%; 
}

.controls{
     margin: 25% 0% 0% 0;
}

.caption{
     padding: 10px;
}



/*Style of radiobuttons*/
.form_radio_btn {
     display: inline-block;
     margin-right: 10px;
     font-weight: bold;
     font-family: Arial;
}

.form_radio_btn input[type=radio] {
     display: none;
}

.form_radio_btn label {
     display: inline-block;
     cursor: pointer;
     padding: 0px 15px;
     line-height: 34px;
     border: 1px solid #999;
     border-radius: 6px;
     user-select: none;
}

.form_radio_btn input[type=radio]:checked + label {
     background: #66A3D2;
}

.form_radio_btn label:hover {
     color: #666;
}



/*Style of sliders*/
.slider {
     margin: 5px;
     -webkit-appearance: none;
     width: 15%;
     height: 15px;
     border-radius: 5px;  
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%; 
     background: #66A3D2;
     cursor: pointer;
}

.slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #66A3D2;
     cursor: pointer;
}



/*Style of buttons*/
.buttons {
     margin: 0 10px 0 0;
     padding: 0px 15px;
     line-height: 34px;
     border: 1px solid #999;
     border-radius: 6px;
     user-select: none;
     font-weight: bold;
     font-family: Arial;
     background: #fff;
}

.buttons:active {
     background: #66A3D2;
}

.buttons:hover {
     color: #666;
}
